.countryCard {
  width: 100%;

  align-items: center;
  flex-direction: row;
}

.countryDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-bottom: 44px;
  padding-top: 44px;
  border-bottom: 2px solid black;
}

/* .countryDetails:first-child {
  padding-top: 0px;
} */

.links {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
