.hero {
  /* width: 700px; */
  height: 500px;
  background-image: url(https://t3.ftcdn.net/jpg/09/60/30/30/240_F_960303003_I31zzufV8ALH0NPAO4mKnOgbt8SIppBZ.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
